<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>S R V</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <!-- Header -->
    <div class="header">
        <!-- <h1>Sistema de Registro de Visitas</h1> -->
        <img src="{{  url_for('static', filename='img/hero.jpg')}}" class="img-fluid" alt="...">
    </div>
    <!-- Menu -->
    <div class="container menu">
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <!-- <a class="navbar-brand" href="#">Navbar</a> -->
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ url_for('home') }}">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('search') }}">Registro de Entrada</a>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Locales
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="{{ url_for('agregar_local') }}">Nuevo Local</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('actualizar_locales') }}">Actualizar Local</a></li>
                      <li><a class="dropdown-item" href="{{ url_for('eliminar_locales') }}">Eliminar Local</a></li>
                    </ul>
                  </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Reportes
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Visitas Anteriores</a></li>
                      <li><a class="dropdown-item" href="#">Visitas Activas</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Visitantes</a></li>
                    </ul>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                  </li> -->
                </ul>
                <!-- <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form> -->
              </div>
            </div>
          </nav>
    </div>
    <div class="container content">
        {% block content %}
        
        {% endblock %}
    </div>
    
    <!-- <div class="splash">
        <img src="{{  url_for('static', filename='img/hero_big.jpg')}}" class="img-fluid" alt="...">
    </div>
    <div class="footer">


    </div> -->



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>